body {
	box-sizing: border-box;
	background-color: hsl(224, 92%, 90%);
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	margin: 0px;
}
header {
	align-self: center;
}
header > h1 {
	font-family: monospace;
	font-size: 2.5rem;
}
main {
	flex-grow: 1;
	display: flex;
	align-self: center;
}
.footer {
	flex: 0 0 0;
	background-color: #fad2e1;
	margin: 0px;
	display: flex;

	justify-content: center;
	align-content: center;
}
.links {
	margin: 1rem;
	padding: 0px;
}
.links > li {
	list-style: none;
	text-align: center;
}
a {
	color: black;
}
.selector {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#color-selector {
	align-self: center;
}
.selector > p,
button {
	width: 250px;
	margin: 5px;
	padding: 0;
	background-color: hsl(310, 12%, 91%);
	border-radius: 50px;
	text-align: center;
	box-shadow: none;
	transition-duration: 500ms;
	border: none;
}
.selected {
	background-color: hsl(224, 88%, 83%);
}
#sketch-grid {
	width: 500px;
	height: 500px;
	border-radius: 150px;
	display: grid;
}
.grid-div {
	box-sizing: border-box;
	background-color: #dfe7fd;
	transition-duration: 500ms;
}
